
body {
    margin: 0px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: white;
}

.fstTab {
    height: 100%;
    background-image: url("./img/1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.secTab {
    height: 100%;
    background-image: url("./img/2_2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -20px;
}

.Tab {
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tabHeader{
    position: relative;
    height: 7%;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 4%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.tabHeaderImg{
    width: 50%;
    height: 10%;
    padding: 3%;
}
.title {
    top: 5%;
    width : 85%;
    height: 53%;
    position: absolute;
    margin: auto;
}

.text1{
    font-size: 1rem;
    font-family: ChosunSm , serif;
    line-height: 2.3em;
    text-align: center;
    font-weight: 100;
    white-space : nowrap; 
    opacity: 0;
}

.g{
    position: inherit;
    width: 90%;
    max-width: 450px;
    height: 75%;
}

.g:after {
    content: "";
    display: block;
    padding-bottom: 150%;
}

.galery{
    position: relative;
    width: 30%;
    margin: 3px;
}

.galery:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
.picture {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.picture:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
}


.picture:nth-child(8){
    grid-column: 3/5;
    grid-row: 3/5;
}


.picture:nth-child(11){
    grid-column: 1/3;
    grid-row: 5/7;
}

.imgViewer {
    top: 0px;
    width: 100%;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    background-color: black;
}

.imgViewer.on {
    visibility: visible;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
}

.imgViewer.off {
    visibility: visible;
    animation: imgOff 0.5s;
    -webkit-animation: imgOff 0.5s;
}

.imgArea {
    top: 10%;
    width: 100%;
    height: 80%;
    position: relative;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.copyOk2{
    position: absolute;
    top: 40%;
    float: center;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    color: white;
    
}

.on{
    visibility: visible;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
}

.oa{
    visibility: visible;
    animation: fadeIn 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-animation: fadeIn 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.ff{
    visibility: visible;
    animation: imgOff 1.0s;
    -webkit-animation: imgOff 1.0s;
}

.imgHeader{
    width: 100%;
    height: 10%;
    position: absolute;
}

.closeButt{
     background: transparent;
     color: pink;
     border: transparent;
     font-size: 30px;
     transform: translate(-10px , 10px);
     position: absolute;
     left: 90%;
     z-index: 2;
}

.pic {
    width: 100%;
    height: 100%;
    position: absolute;
}

.imgZone{
    width: 100%;
}


.main {
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
}

.main.off{
    visibility: hidden;
}

.Mygalery {
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
    background-color: black;
    position: fixed;
    visibility: hidden;
}

.Mygalery.on{
    visibility: visible;
}

.Mygalery.off{
    visibility: visible;
    animation: imgOff 0.5s;
    -webkit-animation: imgOff 0.5s;
}

.swiper-pagination-bullet { width: 12px; height: 12px; background: pink; border: 1px solid pink; opacity: 1; }
.swiper-pagination-bullet-active { width: 12px; transition: width .5s; border-radius: 20px; background: #fb85b9; border: 1px solid transparent; }
.swiper-button-next{
    color: pink;
}

.swiper-button-prev{
    color: pink;
}


.map {
    width: 90%;
    height :30%;
    border: solid 1px pink;
    max-width: 450px;
}
.btnPark{
    top: 2px;
    font-size: 13px;
    /* text-align: center; */
    height: 22px;
    z-index: 2;
    position: relative;
    border: none;
    background: rgba(0,0,0,0.5);
    border-radius: 50px;
    /* font-family: auto; */
    color: white;
}

ul {
    font-size: 1em;
}

.tt{
    animation: textFadeIn 0.25s;
    -webkit-animation: textFadeIn 0.25s;
    animation-fill-mode: forwards;
}

.flower1{
    background-image: url(./img/flower.gif); 
    background-position: bottom;
    background-size: contain;
}

.bb {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cc{
    display: flex;
    font-size: 1em;
    font-family: ChosunSm;
    line-height: 2em;
    letter-spacing: 0.1em;
    text-align: center;
    margin: auto;
    justify-content: center;
    width: 100%;

}

.btnAc {
    border-radius: 30px;
    border: none;
    width: 50px;
    height: 2em;
    font-family: 'ChosunSm';
    font-size: 0.8em;

}

.infoImg {
    width: 100%;
    max-width: 450px;
}


.balloon {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    width: 210px;
}

.balloon.on {
    visibility: visible;
}

.balloon span {
    display: inline-block;
    padding: 10px;
    color: #fff;
    background: cornflowerblue;
    border-radius: 20px;
}

.balloon:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}


.balloon.top:after, .balloon.bottom:after {
    border-width: 15px 10px;
    left: 14%;
    margin-left: -10px;
}

.balloon.top:after {
    border-color: cornflowerblue transparent transparent transparent;
    bottom: -25px;
}

.balloon.top2:after, .balloon.bottom:after {
    border-width: 15px 10px;
    left: 78%;
    margin-left: -10px;
}

.balloon.top2:after {
    border-color: cornflowerblue transparent transparent transparent;
    bottom: -25px;
}


.copy{
    border: none;
    border-radius: 100px;
    background-color: cornflowerblue;
    color: white;
    position: absolute;
    height: 100%;
    width: 20%;
}


@font-face {
    font-family: "ChosunSm"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("./fonts/ChosunSm.TTF") format("opentype"); /* 폰트파일 불러오기 */
  }

@font-face {
    font-family: "Breathing"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("./fonts/Breathing.TTF") format("opentype"); /* 폰트파일 불러오기 */
  }


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0 , 0);
    }to{
        opacity: 1;
        transform: scale(1 , 1);
    }
 }

 @-webkit-keyframes imgOff {
    from {
        transform: scale(1 , 1);
        opacity: 1;
    }to{
        transform: scale(0 , 0);
        opacity: 0;
    }
 }

 @-webkit-keyframes textFadeIn {
    from {
        opacity: 0;
       
    }to{
        opacity: 1;
    }
 }