body {
    margin: 0px auto;
}


.header {
    background-image: url("./img/1.jpg");
    background-size: 100%;
    width: 100%;
    height: 480px;
}


.nameInfo {
    font-size: 3em;
    font-family: "Single Day";
    text-align: right;
}

.fstTab {
    height: 100vh;
    background-image: url("./img/1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.secTab {
    height: 100vh;
    background-image: url("./img/2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.thrTab {
    height: 100vh;
    background-image: url("./img/3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.title {
    top: 25%;
    width : 85%;
    height: 53%;
    position: relative;
    display: block;
    margin: auto;
}


.g{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 20%;
    padding: 5%;
}

.galery{
    position: relative;
    width: 30%;
    margin: 5px;
}

.galery:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
.picture {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    background-color: aliceblue;
    border-color: #fb85b9 ;
    background-image: url("./img/img1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}

.imgViewer {
    top: 0px;
    width: 100%;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    background-color: black;
}

.imgViewer.on {
    visibility: visible;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
}

.imgViewer.off {
    visibility: visible;
    animation: imgOff 0.5s;
    -webkit-animation: imgOff 0.5s;
}

.imgArea {
    top: 10%;
    width: 100%;
    height: 80%;
    position: relative;
    background-color: black;
    background-image: url("./img/img1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.imgHeader{
    width: 100%;
    height: 10%;
    position: absolute;
}

.closeButt{
    float: right;
    background: transparent;
    color: rgb(174, 174, 174);
    border: transparent;
    font-size: 3vh;
    transform: translate(-10px , 10px);
}

.pic {
    width: 100%;
    height: 100%;
    position: absolute;
}

@font-face {
    font-family: "NotoSansKR"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("../assets/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf") format("opentype"); /* 폰트파일 불러오기 */
  }

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0 , 0);
    }to{
        opacity: 1;
        transform: scale(1 , 1);
    }
 }

 @-webkit-keyframes imgOff {
    from {
        transform: scale(1 , 1);
        opacity: 1;
    }to{
        transform: scale(0 , 0);
        opacity: 0;
    }
 }